.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding: 2rem 6rem;
}

.navbar__links-container {
    display: flex;
    flex-direction: row;
}

.navbar__links {
    color: var(--text-color);
    font-size: 18px;
    font-family: var(--sec-font-family);
    font-weight: 500;
}

.navbar__links a {
    display: inline-block;
    margin-left: 35px;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar__links a:hover,
.navbar__links a.active {
    color: var(--main-color);
}
